In [2]:
# Dependencies
import csv
import matplotlib.pyplot as plt
import openweathermapy as ow
import pandas as pd

# import api_key from config file
from config import api_key

In [3]:
# Create a settings object with your API key and preferred units
settings = {"units": "metrics", "appid": api_key}

In [4]:
# Get data for each city in cities.csv
weather_data = []
with open("../Resources/cities.csv") as cities_file:
    cities_reader = csv.reader(cities_file)
    cities = [city[0] for city in cities_reader]
    weather_data = [ow.get_current(city, **settings) for city in cities]

In [5]:
# Create an "extracts" object to get the temperature, latitude,
# and longitude in each city
summary = ["main.temp", "coord.lat", "coord.lon"]

# Create a Pandas DataFrame with the results
data = [response(*summary) for response in weather_data]

weather_data = pd.DataFrame(data, index=cities)
weather_data

                  0      1       2
Paris        282.76  48.86    2.35
London       287.76  51.51   -0.13
Oslo         286.15  59.91   10.74
Beijing      302.15  39.91  116.39
Moscow       288.39  55.75   37.62
Vladivostok  296.15  43.12  131.89
Osaka        304.39  34.70  135.50
Honolulu     300.20  21.30 -157.86
Montevideo   290.39  44.94  -95.72
Erbil        300.15  36.19   44.01